body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #FCE7F3, #FBCFE8);
  color: #1F2937;
}

.nav {
  background-color: #F9A8D4;
  padding: 10px;
}

.nav a {
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

.page {
  padding: 20px;
}

.box {
  background-color: #FFFFFF;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #F472B6; 
  border-radius: 5px;
}

hr {
  border: none;
  border-top: 1px solid #F472B6;
  margin: 10px 0;
}

input {
  padding: 6px;
  margin-right: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 6px 10px;
  background-color: #EC4899;
  border: none;
  color: white;
}
